*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.mainWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,.firstSection,.footer{
    background-color: #232b3b;
}

.secondSection,.fourthSection{
    background-color: #ffffff;
}

.thirdSection{
    background-color: #e6e7eb;
}

/* HEADER */
.header{
    justify-content: center;
}

.headerContents{
    width:75%;
    max-width: 1000px;
    justify-content: space-between;   
}

.logo{

    justify-content: flex-start;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    width: 50%;
}

.links-list{
    width: 50%;
    justify-content: flex-end;
    gap: 5%;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: lighter;
}

li{
    list-style: none;
}

/* FIRST SECTION */


.firstSectionContents{
    width:75%;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.title{
    width: 50%; 
    display: flex;
    flex-direction: column;
}


.heroPrimaryText{
    color: #ffffff;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.heroSecondaryText{
    color: #ffffff;
    font-size: 18px;
}

button{
    width: 30%;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;    
    font-size: 18px;
}

.image{
    width: 70%;
}

img{
    width: 90%;
    height: 50%;
    left: 0px;
    right: 0px;
}

/*SECOND SECTION */

.secondSectionContents{
    width:75%;
    max-width: 1000px;    
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardTitleContainer{
    display: flex;
    justify-content: center;
}

.cardTitle{
    font-size: 3em;
}

.img-card{
    width: 175px;
    height:175px;
    object-fit: cover;
    border: 3px solid  #3882f6;
    border-radius: 1em;
}



/*FLEX REUSABLE*/

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.j-center{
    justify-content: center;
}

.a-center{
    align-items: center;
}